@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

@font-face {
    font-family: 'Hexco';
    src: url(assets/fonts/Hexco.otf);
}

:root {
    --fontText: 'Poppins';
    --fontTitle: 'Hexco';
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {display: none}

body {
    font-family: var(--fontText);
    background: radial-gradient(circle at center, #050516, #000);
    color: white;
    text-align: center;
}

div.container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.splash, main {
    scroll-snap-align: start;
    position: relative;
}

.splash h1 {
    font: 60px var(--fontTitle);
    letter-spacing: 20px;
    margin-bottom: -20px;
}

.splash {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 20px;
}


main {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.form-box {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    width: 400px;
    height: 430px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}

div.form-box > div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

label {
    font-weight: bold;
    text-align: left;
    width: 310px;
}

input, button {
    width: 310px;
    padding: 15px 20px;
    border-radius: 5px;
    transition: 300ms;
}

button {background: #ea5858;}

button:hover {
    background: #e14242;
    box-shadow: 0 0 15px #e14242;
}

.result {
    font-size: 1rem;
    color: #e77b7b;
    width: 350px;
}


/* estrelas */
.star-box {
    position: relative;
    width: 250px;
    height: 250px;
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #fff, #ccc);
    box-shadow: 0 0 40px #fff;
    transition: background 1s, box-shadow 1s;
    animation: pulse 2s infinite ease-in-out;
    margin-top: 40px;
  }

@keyframes pulse {
    0%, 100% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.1); }
}

.caption {
    margin-top: 15px;
    color: #aaa;
}


/* fundo */
.stars {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: -1;
}

.stars span {
    position: absolute;
    width: 2px; height: 2px;
    background: white;
    opacity: 0.8;
    border-radius: 50%;
    animation: blink 3s infinite;
}


@keyframes blink {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 0.2; }
}